<%= render 'shared/global_meta_tags' %>

<div class="collection-wrapper">
	<section>
		<%#= image_tag current_user.avatar %>
		<h1><i class="fa fa-th"></i> Code And Beers Collections</h1>
		<hr class="white">
	</section>
	<section>
		<%= render 'collection_list' %>
	</section>
</div>

