<%= render 'shared/global_meta_tags' %>

<div class="collection-show-wrapper">
	<section>
		<%#= image_tag current_user.avatar %>
		<h1><i class="fa fa-th-large"></i> <%= @collection.name %></h1>
		<p><em><i class="fa fa-arrow-left"></i><%= link_to " Back to all", collections_path %></em></p>
	</section>
	<section>
		<div class="link-wrapper">	
			<% @collection_links.each do |cl| %>
				<% @collection_link = HelpfulLink.find(cl.helpful_link_id) %>
				<%= render 'helpful_links/links_list', locals: { collection_link: @collection_link} %>
			<% end %>
		</div>
	</section>
</div>

