<%= render 'shared/global_meta_tags' %>

<div class="favourites-wrapper">
	
	<section>
		<div class="link-wrapper">	
			<h3><i class="fa fa-external-link"></i> Your Favourite Resources </h3>
			
				<%= render partial: 'favourites/favourite_resources'%>
		</div>
	</section>


</div>


