<%= render 'shared/global_meta_tags' %>

<div class="event-wrapper">
	<section>
		<%#= image_tag current_user.avatar %>
		<h1><i class="fa fa-calendar"></i> Code And Beers Events</h1>
		<hr class="white">
	</section>
	<section>
		<div class="event-link-wrapper">	
			<h3>Upcoming Events</h3>	
			<p>&nbsp;</p>
			<% @events.future.order('date ASC').each do |e| %>
				<%= render 'shared/event_modal', locals: { event: Event.find(e.id) } %>
			<% end %>
		</div>
	</section>
	<section>
		<div class="event-link-wrapper">	
			<h3>Past Events</h3>
			<p>&nbsp;</p>
			<% @events.past.order('date DESC').each do |e| %>
				<%= render 'shared/event_modal', locals: { event: Event.find(e.id) } %>
			<% end %>
		</div>
	</section>
</div>

