<%= render 'shared/global_meta_tags' %>

<h1>About</h1>
<hr>

<h2>How it started</h2>
<p>Code And Beers was a concept thought up by the team at 1ROOF who found themselves all wanting to learn how to code. 
There are LOADS of resources online (resource page coming soon…) where you can learn for free but staying disciplined and having a helping hand when you need one is what makes the real difference!</p>

<blockquote>
	<p>“Give a man a program, frustrate him for a day.
	Teach a man to program, frustrate him for a lifetime.”</p>
	<p>― Muhammad Waseem</p>
</blockquote>

<h2>The Concept</h2>
<p>Code And Beers is a weekly meetup where you are NOT coming to a lesson/lecture/talk. You are entering a community of individuals who all want to teach themselves how to code. By all being in the same place, you can help each other and they can help you. 
We always have at least one full time developer in house to answer questions (we mix up the languages each week) and obviously.. BEER :)</p>

<hr>

<h3>Sound good? Join the newsletter and never miss an event :)</h3>

<%= render 'shared/mailchimp_form' %>

