
<div class="contact-wrapper">

	<section>
		<%#= image_tag current_user.avatar %>
		<h1>Hey!</h1>
		<hr class="white">
		<p>We have just launched so we will soon set up a contact form. For now, feel free to tweet us <a href="http://twitter.com/codeandbeers_">@Codeandbeers_</a></p>
	</section>
	
</div>


