
<div class="home-wrapper">

	<section>
		<h1>Welcome to Code And Beers</h1>
		<hr class="white">
	</section>
	<section>
		<div class="row">	
			<div class="col-md-6">
				<p class="description">A community of individuals teaching themselves how to code...together.</p>
                <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li>


			</div>
			<div class="col-md-6">
				<h2>Sign In</h2>
				<%= render 'devise/sessions/new_form' %>
                <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
			</div>
		</div>
	</section>

</div>

