.helpful-links-form {
	label {
		margin-top: 10px;
		font-size: 16px;
	}
	input {
		height: 40px;
		width: 100%;
	}
	.btn {
		margin-top: 20px;
		height: 50px;
	}
}

.link-wrapper {
	a {
		color: #36454f;
	}
	a:hover {
		text-decoration: none;
		color: #448FC2;
	}
	.well {
		#submitted {
			font-size: 12px;
			display: inline;
		}
		#username {
			color: rgb(18, 112, 174);
		}
	}
	.favourite-link-form {

			i {
				float: right;
			}

		.favourite {
				background-color: #fafaf9;
				border-style: none;
				float: right;
		}
		.favourite:hover {
			color: #fbcb3a;
		}
		.favourited {			
			color: #fbcb3a;
		}
	}
}