.user-modal-wrapper {
	.modal-header {
		text-align: center;
		.header-image {
			img {
				border-radius: 50%;
				width: 200px;
				height: 200px;
			}
		}
	}
	.modal-body {
		text-align: center;
	}
}