<h3>Edit Resource</h3>
<p class="muted"><em>Thanks for keeping the community up to date with any changes! Don't forget to share once you have made changes.</em></p>
<%= render 'helpful_links/edit_form'%>
